@import "reset.scss";//reset

body{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

nav{
    display: grid;
    grid-template-columns:10% 1fr 1fr 10%;
    align-items: center;
    color:#FFF;
    min-height: 10vh;
}

#logo{
    grid-column:2/3;
    font-size:24px;
}

.menu{
    justify-self:end;
}

.slider{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: linear-gradient(to left,#ba7453,#d1a984);
    z-index:-1;
}

section{
    width:100%;
    height:80vh;
    display: flex;
    justify-content:center;
    align-items:center;
}

.hero{
    height:60%;
    width:100%;
    position: relative;
}

.hero img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.hero::after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    background-color:#000;
    width:100%;
    height: 100%;
    opacity:0.4;
}

.headline{
    position:absolute;
    top:60%;
    left:10%;
    color:#FFF;
    font-size:100px;
    transform: translate(-10%,-70%);
    z-index:5;
}